doctype html
html
	head
		title About Page
		link(rel="stylesheet", href="/stylesheets/about_style.css", type="text/css")
	body
		h1 About the Currency Converter
		p This is a very simple 
			b currency converter 
			span website
		img(src="/images/rupees.jpg", alt="A pile of rupees")
		| <!-- image credit: https://pixabay.com/en/rupees-bank-note-india-pay-economy-587271/ -->
	hr
	a(href="/") Back to Home Page.