doctype thml
html
	head
		title Currency Converter
		link(rel="stylesheet", href="/stylesheets/currency_style.css", type="text/css")
	body
		img(src="/images/eurocoin.jpeg", alt="A one-euro coin")
		block content

		hr
		a(href="about") About this site